@model BankApp.Models.CheckingAccount

@{
    ViewBag.Title = "Delete";
}

<h2>Close an Account</h2>

<h3>Are you sure you want to close this Account?</h3>
<h6>Any money left in the account will be "dontated" to the bank.</h6>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @String.Format("{0:c}", Model.Balance)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Close" class="btn btn-default" /> 
        </div>
        <br />
        <div>
               @Html.ActionLink("Back to List", "Index", new { id = Model.CustomerId })
        </div>
    }
</div>
