@model IEnumerable<BankApp.Models.Loan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = @ViewBag.CustomerId })
</p>
<table class="table">
    <tr>
        <th>
            <p>Loan Id:</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Display("Loan Id:")
                @Html.DisplayFor(modelItem => item.LoanId)
            </td>
            <td>
                @String.Format("{0:c}", item.Amount)
            </td>
            <td>
                @Html.ActionLink("Make Payment", "MakePayment", new { id = item.LoanId }) 
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Customer Details", "BackToCustomer", new { id = ViewBag.CustomerId })
</div>
