@model IEnumerable<BankApp.Models.BusinessTransaction>

@{
    ViewBag.Title = "BusinessTransaction";
}

<h2>Transactions</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfTransaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTransaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @String.Format("{0:c}", item.Amount)
            </td>

        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Accounts","BackToAccounts", new { id = ViewBag.CustomerId})
</div>


