@model IEnumerable<BankApp.Models.TermDeposit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = @ViewBag.CustomerId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOpened)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestRate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOpened)
            </td>
            <td>
                @String.Format("{0:c}", item.Amount)
            </td>
            <td>
                @String.Format("{0:P2}.", item.InterestRate)
            </td>
            <td>
                @Html.ActionLink("Calculate Interest (details)", "CalculateInterest", new { id = item.Id }) |
                @Html.ActionLink("Withdraw", "Withdraw", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Customer Details", "BackToCustomer", new { id = ViewBag.CustomerId })
</div>

